html {
    height: 100%;
}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    /*字体抗锯齿,使用后字体看起来会更清晰舒服*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    height: calc(100%);
    min-width: 1920px;
    background-color: #f6f7fb;
    color: #606266;
}
ul, ol, p, h1, h2, h3, h4, h5, h6, button, input {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: normal;
}
input, button {
    outline: none;
    border: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
/* NavMenu 导航菜单 */
.el-menu--horizontal > .el-menu-item{
    height: 40px;
    line-height: 40px;
}
/* title */
.breadcrumb{
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    color: #9a9a9a;
}
/* .count */
.count{
    margin-bottom: 25px;
    .countBox{
        height: 110px;
        background-color: #fff;
        box-shadow: 0 0 5px #ddd;
        padding: 0 30px;
        div{
            margin: 23px 0;
            width: calc(100% - 89px);
            h1{
                height: 40px;
                line-height: 40px;
                strong{
                    font-size: 36px;
                    color: #1e244a;
                }
                span{
                    font-size: 18px;
                    color: #ffc74a;
                }
            }
            h2{
                height: 64px;
                line-height: 64px;
                strong{
                    font-size: 36px;
                    span{
                        font-size: 16px;
                        font-weight: normal;
                        margin-left: 10px;
                    }
                }
            }
            p{
                font-size: 18px;
                color: #7e8f95;
                height: 24px;
                line-height: 24px;
            }
        }
    }
}
/* .content */
.content{
    background-color: #fff;
    border: 1px solid #ebecf0;
    padding: 0 30px 20px;
}
/* .page */
.page{
    padding-top: 20px;
}
/* .tableHeaderRow */
.tableHeaderRow{
    background-color: #f3f7ff!important;
}
/* .charts */
.charts{
    h1{
        height: 50px;
        line-height: 50px;
        background-color: #f3f7ff;
        margin: 20px 0;
        padding-left: 30px;
    }
    .chartBox{
        height: 270px;
    }
    .chartBarVertical{
        border-left: 2px dashed #ebecf0;
    }
}
