/* title */
.breadcrumb{
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    color: #9a9a9a;
}
/* .count */
.count{
    margin-bottom: 25px;
    .countBox{
        height: 110px;
        background-color: #fff;
        box-shadow: 0 0 5px #ddd;
        padding: 0 30px;
        div{
            margin: 23px 0;
            width: calc(100% - 89px);
            h1{
                height: 40px;
                line-height: 40px;
                strong{
                    font-size: 36px;
                    color: #1e244a;
                }
                span{
                    font-size: 18px;
                    color: #ffc74a;
                }
            }
            h2{
                height: 64px;
                line-height: 64px;
                strong{
                    font-size: 36px;
                    span{
                        font-size: 16px;
                        font-weight: normal;
                        margin-left: 10px;
                    }
                }
            }
            p{
                font-size: 18px;
                color: #7e8f95;
                height: 24px;
                line-height: 24px;
            }
        }
    }
}
/* .content */
.content{
    background-color: #fff;
    border: 1px solid #ebecf0;
    padding: 0 30px 20px;
    .search{
        padding: 17px 0;
        .el-input{
            width: 217px;
        }
        .el-select{
            margin-right: 10px;
        }
    }
}
/* .page */
.page{
    padding-top: 20px;
}
/* .tableHeaderRow */
.tableHeaderRow{
    background-color: #f3f7ff!important;
}
/* .charts */
.charts{
    h1{
        height: 50px;
        line-height: 50px;
        background-color: #f3f7ff;
        margin: 20px 0;
        padding-left: 30px;
    }
    .chartBox{
        height: 270px;
    }
    .chartBorder{
        border-left: 2px dashed #ebecf0;
    }
}
